# igonre 'make' directory build 忽略掉构建文件夹build
build
build1
# igonre binary executable files directory 忽略掉二进制可执行文件文件夹bin
bin
# ignore library direactory 忽略掉库文件目录下的库文件
lib
!CMakeLists.txt
# igonre VSCode configuration directory .vscode 忽略vscode配置文件夹 .vscode
.vscode
# ignore demolib directory of Example DllSupport 忽略示例项目中DllSupport 的演示动态库
examples/DllSupport/demolib

# ignore testing code coverage result
result